<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.colabear754.springdoc_example.mapper.BoardMapper">
    <select id="getDocuments" resultType="BoardDTO">
        select SEQ, REG_TIME, SUBJECT, CONTENT, VIEW_CNT
        from BOARD
        order by SEQ
    </select>
</mapper>